# Build results
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/

# Visual Studio files
**/.vs/
**/*.user
**/*.userosscache
**/*.suo

# .NET Core
**/project.lock.json
**/project.fragment.lock.json
**/artifacts/

# Test results
**/[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*